{% extends 'layout.html.twig' %}

{% block title %} Новая книга {% endblock %}


{% block header_menu %}

{{parent()}}
{% if is_granted("ROLE_MODERATOR") %}
<div id="bmod" class="container-fluid justify-content-end"><a class="text-muted" href="{{path("books_moderation")}}"><b>Книги на модерации</b></a></div>  
{% endif %}
{% endblock %}


{% block body %}

{{form_start(form, {'attr': {'id': 'form-book-add'}})}}

{{ form_row(form._token)}}
  <div class="form-group">
	{{ form_label(form.title) }}
	{{ form_widget(form.title, {'attr': {'class':'form-control', 'placeholder':'Название'}}) }}
    <span class="invalid-feedback d-block"> {{ form_errors(form.title)}} </span>
  </div>
  <div class="form-group">
	{{ form_label(form.author) }}
	{{ form_widget(form.author, {'attr': {'class': 'form-control', 'placeholder': 'Автор'}}) }}
    <span class="invalid-feedback d-block"> {{ form_errors(form.author)}} </span>
  </div>
  <div class="form-group">
	{{ form_label(form.genre) }}
	{{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
    
  </div>

<div class="form-group">
	{{ form_label(form.imgUrl) }}
	
    <div class="custom-file">
    {{ form_widget(form.imgUrl, {'attr': {'class': 'custom-file-input'}}) }}
	<label class="custom-file-label"  for="customFile">Загрузить фото</label>
    <span class="invalid-feedback d-block"> {{ form_errors(form.imgUrl)}} </span>
</div>
  
   
  </div>


  <div class="form-group">
	{{ form_label(form.description) }}
	{{ form_widget(form.description, {'attr': {'rows': 5, 'class': 'form-control'}}) }}
    <span class="invalid-feedback d-block"> {{ form_errors(form.description)}} </span>
  </div>
    
  <input type="submit" class="btn btn-success" value="Добавить книгу">
</form>

{{ form_end(form) }}



{% endblock %}