{% extends 'index.html.twig' %}
{% block title %} {{ currentState.translatedCategory|capitalize }} {% endblock %}
{% block notification %}

{% if currentState.books_num > 0 %}
<div class='alert alert-success'>Найдено {{currentState.books_num}} книг в категории '{{currentState.translatedCategory}}'</div>
{% else %}
<div class='alert alert-danger'>Ничего не найдено в категории '{{currentState.translatedCategory}}'</div>
{% endif %}
{% endblock %}

{% block pagination %}

{% if pagination.pages_total > 1 %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">

      <a class="page-link" href="{{path("category", {category:currentState.category, page:1})}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>



{% for page in pagination.pages_start..pagination.pages_end%}

  <li class='page-item {% if page == pagination.requested_page %}active{% endif %}'><a class='page-link' href='{{path("category", {category: currentState.category, page:page})}}'>{{page}}</a></li>

{% endfor %}



    
<li class="page-item">
<a class="page-link" href="{{path("category", {category:currentState.category, page:pagination.pages_total})}}" aria-label="Previous">
  <span aria-hidden="true">&raquo;</span>
  <span class="sr-only">Previous</span>
</a>
</li>
  </ul>
</nav>

{% endif %}

 {% endblock %}

 {% block pagination_bottom %} {{block('pagination')}} {%endblock%}